// fonts

.yu-font {
	font-family: "游教科書体", "YuKyokasho", serif;
}

.ud-font {
	font-family: "UDデジタル教科書体 ProN R", serif;
}

body {
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.8em;
}

p {
	margin: 0;
}

.noprint {
	padding-bottom: 2em;
	margin-bottom: 3em;
}

.question {
	display: block;

	.item {
		display: inline-block;
		flex-shrink: 1;
		margin-left: 2em;
		margin-bottom: 2em;
	}
}

.answer {
	margin-right: 2em;
	padding-left: 2em;
	border-right: 1px dashed #aaa;

	.item {
		display: inline-block;
		font-size: 2.2em;
		margin-right: 0.4em;
		margin-bottom: 1.5em;
	}
}

@media screen {
	.paper {
		writing-mode: vertical-rl;
		text-orientation: upright;
		display: flex;
		flex-direction: column;
		overflow-x: scroll;
	}
}

.index {
	display: inline-block;
	margin-bottom: 0.5em;
	font-size: 0.8em;
	text-combine-upright: all;
}

.kana {
	font-size: 1.2em;
}

.kanji_box {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: nowrap;
	border-top: 1px solid #888;
	border-bottom: 0;
}

.kanji {
	position: relative;
	width: 5em;
	height: 5em;
	border: 1px solid #888;
	border-top: 0;

	&::before,
	&::after {
		content: "";
		position: absolute;
	}

	&::before {
		width: 0;
		height: 100%;
		top: 0;
		left: 50%;
		border-left: 1px dotted #ddd;
	}

	&::after {
		width: 100%;
		height: 0;
		left: 0;
		top: 50%;
		border-top: 1px dotted #ddd;
	}
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 0;
	.item {
		padding: 10px;
		line-height: 1;
	}
	.kana {
		display: block;
		font-size: 0.6em;
	}
}

label {
	&:hover {
		cursor: pointer;
	}
}

@media print {
	body {
		size: A4 landscape;
		width: 297mm;
		height: 210mm;
	}
	.noprint {
		display: none;
	}
	.paper {
		display: block;
		box-sizing: border-box;
		overflow-x: visible;
	}
	.question,
	.answer {
		width: 100%;
		max-height: 100%;
		font-size: 10px;
		box-sizing: border-box;
		padding: 10mm 20mm;
		break-after: page;
		writing-mode: vertical-rl;
		text-orientation: upright;
	}
	.question {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
		.item {
			display: block;
		}
	}
}
